<div class="sidebarMenu" *ngIf="trendingTags | async as tags">
  <div class="header">
    <h3>Trending Topics</h3>
    <span class="material-symbols-outlined"> trending_up </span>
  </div>
  <ul>
    <li *ngFor="let tag of tags.slice(0, 3)">
      <a>
        <span class="tag">#{{ tag.text }}</span>
        <span class="count"
          >{{ tag.count }} Tweet{{ tag.count > 1 ? "s" : "" }}</span
        >
      </a>
    </li>
  </ul>
  <a class="showMoreButton" routerLink="search/tags"> Show More </a>
</div>
