* {
  color: rgba(var(--text-color), 0.8);
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  --red: #cc5c5c;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 400px;
  gap: 1.2rem;
}

div {
  flex-grow: 1;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

input {
  background-color: transparent;
  border: 1px solid rgba(var(--text-color), 0.4);
  /* color: rgba(var(--text-color)); */
  border-radius: 6px;
  font-size: 1.1rem;
  padding: 0.6rem;
  width: 100%;
  /* outline: 1px solid rgba(var(--text-color), 0.4); */
}

.ng-invalid:not(.ng-pristine) {
  border-color: var(--red);
}

.ng-invalid:not(.ng-pristine):focus {
  outline: 1px solid var(--red);
  outline: none;
}
