<form [formGroup]="editProfileForm">
  <div class="textbox">
    <div class="heading">
      <span class="textbox-title">Name</span>
      <span class="maxLengthIndicator">{{ nameLength | async }}/50</span>
    </div>
    <input
      id="name"
      name="name"
      type="text"
      formControlName="name"
      maxlength="50"
      autocomplete="off"
      spellcheck="false"
    />
  </div>
  <div class="textbox">
    <div class="heading">
      <span class="textbox-title">Bio</span>
      <span class="maxLengthIndicator"
        >{{ descriptionLength | async }}/160</span
      >
    </div>
    <textarea formControlName="description" maxlength="160"></textarea>
  </div>
  <button (click)="test()">test</button>
</form>
