.pink {
  --text: #f91880;
  --bkg: #f918801a;
}

.green {
  --text: #00ba7c;
  --bkg: #00ba7c1a;
}

.blue {
  --text: #1d9bf0;
  --bkg: #1d9bf01a;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: rgb(83, 100, 113);
  color: var(--text-color);
  stroke: rgb(var(--text-color));
  gap: 0.3rem;
}

.active span {
  color: var(--text);
}

@media (hover: hover) {
  button:hover {
    color: var(--text);
  }

  button:hover svg {
    fill: var(--text);
  }
}

svg {
  background-color: transparent;
  border-radius: 1000px;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.25rem;
}

button:hover svg {
  background-color: var(--bkg);
}
