:host {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  border-right: 1px solid rgba(var(--text-color), 0.08);
}

nav {
  font-size: 1.2rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(15px);
  gap: 0.8rem;
}

a {
  text-decoration: none;
}

button {
  border-radius: 100%;
}

.userAvatar {
  border-radius: 100%;
}

.material-symbols-outlined {
  font-size: 2rem;
}

button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  color: rgba(var(--text-color), 1);
}

button:hover,
.userIcon:hover,
.userAvatar:hover {
  background-color: rgba(var(--hover-color));
}

.navItemLabel {
  display: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.userAvatarLabel {
  display: none;
  font-size: 1.1rem;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.7rem;
}

ul {
  padding: 0;
  color: rgba(var(--text-color), 1);
}

li {
  list-style-type: none;
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
}

li:hover {
  background-color: rgba(var(--hover-color));
}

@media screen and (min-width: 1024px) {
  nav {
    align-items: flex-start;
    padding-left: 2.4rem;
    padding-right: 0;
  }

  .navItemLabel {
    display: inline;
  }

  button {
    border-radius: 1000px;
    padding: 0.6rem 1rem;
    translate: -1.5rem 0;
  }

  .userAvatar {
    translate: -2rem 0;
    border-radius: 1000px;
  }

  .userAvatarLabel {
    display: flex;
    gap: 0.1rem;
  }

  .userAvatarLabel > span:nth-child(2) {
    opacity: 0.5;
  }
}
