:host {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(var(--text-color), 0.08);
}

nav {
  font-size: 1.2rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: inherit;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  flex-grow: 1;
}

.logo {
  margin-bottom: auto;
}

a {
  text-decoration: none;
}

button {
  border-radius: 100%;
}

.userAvatar {
  border-radius: 100%;
}

.material-symbols-outlined {
  font-size: 2rem;
}

button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  color: rgba(var(--text-color), 1);
}

button:hover,
.userIcon:hover,
.userAvatar:hover {
  background-color: rgba(var(--hover-color));
}

.navItemLabel {
  display: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.userAvatarLabel {
  display: none;
  font-size: 0.9rem;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.7rem;
}

.userAvatarLabel > span {
  text-align: left;
  max-width: 110px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  padding: 0;
  color: rgba(var(--text-color), 1);
}

li {
  list-style-type: none;
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
}

li:hover {
  background-color: rgba(var(--hover-color));
}

.profile_pic {
  border-radius: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  nav {
    align-items: flex-start;
    padding-left: 2.4rem;
    padding-right: 0;
  }

  .navItemLabel {
    display: inline;
  }

  button {
    border-radius: 1000px;
    padding: 0.6rem 1rem;
    translate: -1.5rem 0;
  }

  .userAvatar {
    border-radius: 1000px;
  }

  .userAvatarLabel {
    display: flex;
    gap: 0.1rem;
  }

  .userAvatarLabel > span:nth-child(2) {
    opacity: 0.5;
  }
}

@media screen and (max-width: 460px) {
  :host {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    z-index: 3;
    flex-grow: 0;
    height: unset;
    top: unset;
    background-color: rgba(var(--bkg-color));
  }

  .logo {
    margin-bottom: unset;
  }
}
