<img
  [src]="
    domain +
    '/users/' +
    targetUser.username +
    '/profile_pic/' +
    targetUser.profile_pic
  "
  width="38px"
  style="border-radius: 100%; object-fit: cover; aspect-ratio: 1"
/>
<div class="names">
  <a [routerLink]="'../' + targetUser.username">{{ targetUser.name }}</a>
  <span>@{{ targetUser.username }}</span>
</div>
<button
  [ngStyle]="{
    'background-color': themeService.usingDarkTheme ? 'white' : '#4a4a4a',
    color: themeService.usingDarkTheme ? 'black' : 'white'
  }"
  (click)="followUser()"
>
  {{ isFollowing ? "Following" : "Follow" }}
</button>
