:host {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}

:host:hover {
  background-color: rgba(var(--hover-color));
}

a {
  text-decoration: none;
  color: rgba(var(--text-color), 1);
}
a:hover {
  text-decoration: underline;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.names > span:first-child {
  font-weight: bold;
}

.names > span:nth-child(2) {
  opacity: 0.5;
}

button {
  border-radius: 1000px;
  background-color: rgb(218, 218, 218);
  border: none;
  font-weight: bold;
  padding: 0.4rem 1rem;
  cursor: pointer;
  margin-left: auto;
}
