.tabs {
  display: flex;
}

button.tab {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: rgba(var(--text-color), 0.6);
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1rem;
}

button.tab:hover {
  background-color: rgba(var(--hover-color), 0.6);
}

button.tab span {
  padding: 0.5rem 0;
}

.activeTab span {
  border-bottom: 2px solid rgba(var(--brand-primary));
  color: rgba(var(--text-color));
}
