.sub-nav {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.backArrow {
  text-decoration: none;
  font-size: 2rem;
  color: rgba(var(--text-color));
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backArrow:hover {
  background-color: rgba(var(--text-color), 0.1);
}

.replyCount {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: rgba(var(--brand-primary));
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
}
