button {
  border-radius: 1000px;
  background-color: rgba(var(--text-color), 0.9);
  color: rgba(var(--bkg-color), 1);
  border: none;
  font-weight: 900;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
