<div class="post" *ngIf="authService.user$ | async as user">
  <a [routerLink]="'../' + user.username">
    <img
      [src]="
        domain + '/users/' + user.username + '/profile_pic/' + user.profile_pic
      "
      height="48px"
      width="48px"
      class="profile_pic"
    />
  </a>
  <form class="body" [formGroup]="tweetForm">
    <div class="helperTextContainer">
      <ng-container [ngTemplateOutlet]="helperText"></ng-container>
    </div>
    <textarea
      formControlName="text"
      #textarea
      [placeholder]="placeholder"
      name="new-post-textarea"
      id="new-post-textarea"
      maxlength="280"
    ></textarea>
    <div class="photoContainer">
      <img class="photo" [src]="safePhotoUrl$ | async" />
      <button
        *ngIf="safePhotoUrl$ | async"
        class="material-symbols-outlined circleButton cancelPhotoBtn"
        (click)="tweetForm.patchValue({ photo_file: null })"
      >
        close
      </button>
    </div>

    <div class="toolbar">
      <label
        for="photoInput"
        class="material-symbols-outlined circleButton toolbarButton"
      >
        imagesmode
        <input
          type="file"
          name="photoInput"
          id="photoInput"
          accept="image/*"
          (change)="setPhoto($event)"
        />
      </label>

      <app-circular-progress
        *ngIf="(tweetLength$ | async) > 0"
        [val]="((tweetLength$ | async) / 280) * 100"
      ></app-circular-progress>
      <button
        id="create-post-submit-btn"
        name="create-post-submit-btn"
        class="create-post-submit-btn"
        type="submit"
        (click)="onSubmit.emit(tweetForm)"
        [disabled]="tweetForm.controls['text'].invalid"
      >
        {{ label }}
      </button>
    </div>
  </form>
</div>
