.post {
  display: flex;
  gap: 0.6rem;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
  color: rgba(var(--text-color));
}

.profile_pic {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.helperTextContainer {
  font-size: 0.9rem;
}

textarea {
  flex-grow: 1;
  height: auto;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  color: inherit;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

.photoContainer {
  width: 100%;
  position: relative;
}

.photo {
  width: 100%;
  object-fit: contain;
  max-height: 400px;
  margin-top: 0.5rem;
}

.cancelPhotoBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.tagsContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  margin-bottom: 1rem;
}

.tag {
  font-size: 1rem;
  color: rgba(var(--brand-primary));
  position: relative;
}

.tag button {
  display: none;
  border-radius: 100%;
  background-color: rgba(var(--text-color));
  color: rgba(var(--bkg-color));
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
  translate: 50% -50%;
  cursor: pointer;
}

.tag:hover button {
  display: flex;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(var(--text-color), 0.08);
}

.toolbarButton {
  color: rgba(var(--brand-primary));
  margin-right: auto;
  background-color: transparent;
}

@media (hover: hover) {
  .toolbarButton:hover {
    background-color: rgba(var(--brand-primary), 0.1);
  }
}

#photoInput {
  display: none;
  appearance: none;
}

.create-post-submit-btn {
  background-color: rgba(var(--brand-primary));
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  transition: background-color 0.2s ease-in-out, translate 0.05s;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.create-post-submit-btn:hover {
  background-color: rgba(var(--brand-primary-dark));
}

.create-post-submit-btn:active {
  translate: 0 1px;
}

.create-post-submit-btn:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 460px) {
  .post {
    padding: 1rem 0.2rem 0 0.2rem;
  }

  /* a {
    display: none;
  } */
}
