.post {
  display: flex;
  gap: 0.6rem;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
  color: rgba(var(--text-color));
}

img {
  border-radius: 50%;
}

.body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.helperTextContainer {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

textarea {
  flex-grow: 1;
  height: auto;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  color: inherit;
  border-bottom: 1px solid rgba(var(--text-color), 0.08);
  padding: 0.5rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

button {
  background-color: rgba(var(--brand-primary));
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  transition: background-color 0.2s ease-in-out, translate 0.05s;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(var(--brand-primary-dark));
}

button:active {
  translate: 0 1px;
}

button:disabled {
  opacity: 0.5;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.circleButton {
  color: rgba(var(--brand-primary));
  margin-right: auto;
  background-color: transparent;
}

.circleButton:hover {
  background-color: rgba(var(--brand-primary), 0.1);
}
