<div class="post" *ngIf="authService.user$ | async as user">
  <a [routerLink]="'../' + user.username">
    <img
      [src]="
        domain + '/users/' + user.username + '/profile_pic/' + user.profile_pic
      "
      height="48px"
      width="48px"
    />
  </a>
  <form class="body" [formGroup]="tweetForm">
    <div class="helperTextContainer">
      <ng-container [ngTemplateOutlet]="helperText"></ng-container>
    </div>
    <textarea
      formControlName="text"
      #textarea
      [placeholder]="placeholder"
      name="new-post-textarea"
      id="new-post-textarea"
      maxlength="280"
    ></textarea>
    <div class="toolbar">
      <span class="material-symbols-outlined circleButton"> imagesmode </span>
      <app-circular-progress
        *ngIf="(tweetLength$ | async) > 0"
        [val]="((tweetLength$ | async) / 280) * 100"
      ></app-circular-progress>
      <button
        id="create-post-submit-btn"
        name="create-post-submit-btn"
        class="create-post-submit-btn"
        type="submit"
        (click)="postsService.createNewPost(tweetForm.value.text)"
        [disabled]="tweetForm.controls['text'].invalid"
      >
        {{ label }}
      </button>
    </div>
  </form>
</div>
