<div class="post" *ngIf="authService.user$ | async as user">
  <a [routerLink]="'../' + user.username">
    <img
      [src]="
        domain + '/users/' + user.username + '/profile_pic/' + user.profile_pic
      "
      height="48px"
      width="48px"
      class="profile_pic"
    />
  </a>
  <form class="body" [formGroup]="tweetForm">
    <div class="helperTextContainer">
      <ng-container [ngTemplateOutlet]="helperText"></ng-container>
    </div>
    <textarea
      formControlName="text"
      #textarea
      [placeholder]="placeholder"
      name="new-post-textarea"
      id="new-post-textarea"
      maxlength="280"
    ></textarea>
    <div class="photoContainer">
      <img class="photo" [src]="safePhotoUrl$ | async" />
      <button
        *ngIf="safePhotoUrl$ | async"
        class="material-symbols-outlined circleButton cancelPhotoBtn"
        (click)="tweetForm.patchValue({ photo_file: undefined })"
      >
        close
      </button>
    </div>
    <div class="tagsContainer">
      <span
        *ngFor="let tag of tweetForm.controls['tags'].value; let i = index"
        class="tag"
        >#{{ tag }}
        <button class="material-symbols-outlined" (click)="removeTag(i)">
          close
        </button>
      </span>
    </div>
    <app-tags
      style="margin-bottom: 0.5rem"
      *ngIf="showTags"
      (tag)="addTag($event)"
    ></app-tags>
    <div class="toolbar">
      <div>
        <label
          for="photoInput"
          class="material-symbols-outlined circleButton toolbarButton"
        >
          imagesmode
          <input
            type="file"
            name="photoInput"
            id="photoInput"
            accept="image/*"
            (change)="setPhoto($event)"
          />
        </label>
        <button
          (click)="showTags = !showTags"
          class="material-symbols-outlined circleButton toolbarButton"
        >
          tag
        </button>
      </div>
      <app-circular-progress
        style="margin-left: auto"
        *ngIf="tweetLength$ | push"
        [val]="circularProgressValue$ | push"
      ></app-circular-progress>
      <button
        id="create-post-submit-btn"
        name="create-post-submit-btn"
        class="create-post-submit-btn"
        type="submit"
        (click)="onSubmit.emit(tweetForm)"
        [disabled]="tweetForm.controls['text'].invalid"
      >
        {{ label }}
      </button>
    </div>
  </form>
</div>
