:host {
  display: flex;
  justify-content: flex-start;
}

app-navbar {
  display: flex;
}
.middle {
  flex-grow: 1;
  padding-bottom: 4rem;
}
app-sidebar {
  display: none;
}

@media screen and (min-width: 460px) {
  app-navbar {
    display: flex;
  }

  .middle {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .middle {
    max-width: 600px;
  }

  :host {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .middle {
    max-width: unset;
  }

  app-sidebar {
    display: flex;
  }

  :host {
    justify-content: center;
  }
}

@media screen and (min-width: 1294px) {
  app-sidebar {
    width: 460px;
  }
}
