:host {
  display: flex;
  justify-content: flex-start;
}

app-navbar {
  display: none;
}
div {
  max-width: 580px;
  flex-grow: 1;
}
app-sidebar {
  display: none;
}

@media screen and (min-width: 380px) {
  app-navbar {
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  :host {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  app-sidebar {
    display: flex;
  }

  :host {
    justify-content: center;
  }
}

/* @media screen and (min-width: 1294px) {
  app-navbar {
  }
} */
