<ng-container *ngIf="allUsers$ | async as users">
  <div class="sidebarMenu" *ngIf="authService.user$ | async as currentUser">
    <div class="header">
      <h3>Who To Follow</h3>
      <span class="material-symbols-outlined"> groups </span>
    </div>
    <ul>
      <li *ngFor="let targetUser of users.slice(0, 3)">
        <app-user-search-result
          [user]="targetUser"
          [showFollowButton]="true"
        ></app-user-search-result>
      </li>
    </ul>
    <a routerLink="search/people"> Show More </a>
  </div>
</ng-container>
