:host {
  padding: 1rem;
  width: 100%;
}

.container {
  border-radius: 16px;
  background-color: var(--panel-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  color: rgba(var(--text-color), 0.9);
  width: 100%;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

h3 {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

li {
  list-style-type: none;
  width: 100%;
}

/* li {
  list-style-type: none;
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
} */

/* a {
  text-decoration: none;
  color: rgba(var(--text-color), 1);
}
a:hover {
  text-decoration: underline;
}

li:hover {
  background-color: rgba(var(--hover-color));
}

.names {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.names > span:first-child {
  font-weight: bold;
}

.names > span:nth-child(2) {
  opacity: 0.5;
} */

/* button {
  border-radius: 1000px;
  background-color: rgb(218, 218, 218);
  border: none;
  font-weight: bold;
  padding: 0.4rem 1rem;
  cursor: pointer;
  margin-left: auto;
} */
