:host {
  font-size: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  color: rgba(var(--text-color), 0.7);
  border-top: 1px solid rgba(var(--text-color), 0.1);
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
  font-weight: bold;
  min-width: 200px;
}

button:hover {
  background-color: rgba(var(--hover-color));
}

span {
  font-size: 1.5rem;
}

div.colorChanger {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  /* min-width: 300px; */
  /* height: 300px; */
  padding: 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.1);

  .colorSplotch {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
}


