:host {
  flex-grow: 1;
  max-width: 598px;
  border-right: 1px solid rgba(var(--text-color), 0.08);
}

.nav {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.3rem 1rem;
  color: rgba(var(--brand-primary));
  background-color: rgba(var(--bkg-color), 0.85);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
}
