:host {
  font-size: 1.1rem;
}

button {
  font-size: inherit;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  transition: background-color 0.2s ease-in-out, translate 0.05s;
  font-weight: bold;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}

button:active {
  translate: 0 1px;
}

button:disabled {
  background-color: rgba(var(--brand-primary-dark));
}

.primary {
  background-color: rgba(var(--brand-primary));
  color: white;
}

.primary:hover {
  background-color: rgba(var(--brand-primary-dark));
}

.outline {
  border: 2px solid rgba(var(--brand-primary));
  background: transparent;
  color: rgba(var(--brand-primary));
}

.secondary {
  background-color: rgba(var(--text-color), 0.9);
  color: rgba(var(--bkg-color));
}

.secondary:hover {
  background-color: rgba(var(--text-color), 1);
}

.secondary:disabled {
  opacity: 0.5;
}
