<p style="overflow-wrap: anywhere">{{ post.text }}</p>
<img
  *ngIf="post.photo_url"
  class="photo"
  [src]="domain + '/posts/' + post.id + '/photo_url/' + post.photo_url"
/>
<div class="toolbar">
  <app-post-button
    [isActive]="isLiked"
    (onClick)="togglePostLiked(post.id, currentUser.id)"
    color="pink"
    [value]="numOfLikes"
    type="like"
    >favorite</app-post-button
  >
  <app-post-button color="green" [value]="numOfLikes" type="retweet"
    >cached</app-post-button
  >

  <app-post-button
    color="blue"
    [value]="numOfLikes"
    type="reply"
    (click)="openDialog()"
    >chat_bubble</app-post-button
  >
  <!-- <button
    (click)="isOpen = !isOpen"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    test
  </button> -->
  <!-- <button (click)="openDialog()">test</button> -->
  <!-- <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
  >
    <div style="background-color: black" (click)="isOpen = false">
      <h1 style="color: white">this is the modal</h1>
    </div>
  </ng-template> -->
</div>
