<p style="overflow-wrap: break-word">{{ post.text }}</p>
<img
  *ngIf="post.photo_url && showMedia"
  class="photo"
  [src]="domain + '/posts/' + post.id + '/photo_url/' + post.photo_url"
  (error)="onImageError($event)"
/>
<div class="tagsContainer">
  <a
    [routerLink]="['/tag', tag]"
    *ngFor="let tag of post.tags"
    class="tag"
    (click)="$event.stopPropagation()"
    >#{{ tag }}</a
  >
</div>
<app-post-toolbar
  *ngIf="showToolbar"
  [currentUser]="currentUser"
  [post]="post"
></app-post-toolbar>
