:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-weight: bold;
}

.username {
  border-bottom: 1px solid transparent;
  opacity: 0.7;
}

.username:hover {
  border-bottom: 1px solid;
}

.date {
  font-size: 0.8rem;
  color: rgba(var(--text-color), 0.3);
  margin-left: auto;
}
