<ng-container *ngIf="user$ | async as user">
  <ng-container *ngIf="posts$ | async as posts">
    <div class="nav">
      <h4 style="margin: 0">{{ user.name }}</h4>
      <span>{{ posts.length }} Tweets</span>
    </div>
    <div class="headerPicContainer">
      <img
        *ngIf="user.header_pic || newHeaderPicUrl; else fallback"
        [src]="
          newHeaderPicUrl
            ? newHeaderPicUrl
            : 'http://localhost:8080/api/users/' +
              user.username +
              '/' +
              user.header_pic
        "
        width="100%"
        class="header_pic"
      />
      <ng-template #fallback>
        <div
          style="
            width: 100%;
            background-color: #cfd9de;
            padding-bottom: 56.25%;
            resize: horizontal;
          "
        ></div>
      </ng-template>
      <div class="editPhotoControls">
        <div *ngIf="newHeaderPicUrl; else headerPicInput">
          <button
            class="material-symbols-outlined editPhotoButton"
            (click)="newHeaderPicUrl = ''"
          >
            close
          </button>
          <button
            class="material-symbols-outlined editPhotoButton"
            (click)="confirmNewHeaderPic(user.username, newHeaderPicUrl)"
          >
            done
          </button>
        </div>
        <ng-template #headerPicInput>
          <label
            for="headerPicInput"
            class="material-symbols-outlined editPhotoButton"
            >add_a_photo</label
          >
        </ng-template>
      </div>
    </div>
    <input
      style="display: none; appearance: none"
      id="headerPicInput"
      name="headerPicInput"
      type="file"
      accept="image/*"
      (change)="setNewHeaderPicUrl($event)"
    />
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </ng-container>
</ng-container>
