form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

input {
  background: transparent;
  border: none;
  color: rgba(var(--text-color), 0.5);
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid rgba(var(--brand-primary));
  flex-grow: 1;
}

input:focus {
  outline: none;
}
