.tabs {
  display: flex;
}

.tab {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: rgba(var(--text-color), 0.6);
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

@media (hover: hover) {
  .tab:hover {
    background-color: rgba(var(--hover-color), 0.6);
  }
}

.tab span {
  padding: 0.5rem 0;
}

.active span {
  border-bottom: 2px solid rgba(var(--brand-primary));
  color: rgba(var(--text-color));
}
