<div
  [style.padding-top]="(showSearchBar$ | async) === true ? '0' : '1rem'"
  style="padding: 1rem; width: 100%; display: flex; flex-direction: column"
>
  <app-searchbar *ngIf="showSearchBar$ | async"></app-searchbar>
  <app-who-to-follow></app-who-to-follow>
  <app-trending-topics></app-trending-topics>
  <p style="text-align: center; color: rgba(var(--text-color), 70%)">
    This site was created by
    <a
      style="color: rgba(var(--brand-primary))"
      href="https://tylertierney.com"
      target="_blank"
    >
      Tyler Tierney</a
    >
  </p>
</div>
