.sub-nav {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
  font-size: 1rem;
  padding: 0;
}

.sub-nav div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
