<div class="sub-nav">
  <div>
    <app-back-button></app-back-button>
    <app-searchbar></app-searchbar>
  </div>
  <app-nav-tabs [tabs]="tabs" (selectTab)="selectedTab = $event"></app-nav-tabs>
</div>
<ng-container *ngIf="searchService.searchResult$ | async as searchResult">
  <ng-container [ngSwitch]="selectedTab">
    <ng-container *ngSwitchCase="'Posts'">
      <app-post *ngFor="let post of searchResult.posts" [post]="post">{{
        post.text
      }}</app-post>
    </ng-container>
    <ng-container *ngSwitchCase="'Users'">
      <div *ngFor="let user of searchResult.users">{{ user.name }}</div>
    </ng-container>
    <ng-container *ngSwitchCase="'Topics'">
      <div *ngFor="let tag of searchResult.tags">#{{ tag.text }}</div>
    </ng-container>
  </ng-container>
</ng-container>
