:host {
  flex-grow: 1;
}

.post {
  display: flex;
  gap: 0.6rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
  cursor: pointer;
}

.post:hover {
  background-color: rgba(var(--text-color), 0.03);
}

a {
  text-decoration: none;
  color: inherit;
}

.profile_pic {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.username {
  font-weight: bold;
}

.username:hover {
  border-bottom: 1px solid;
}

.body {
  flex-grow: 1;
}

.post_left {
  display: flex;
  flex-direction: column;
}

.handleContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.handle {
  padding: 1rem 0;
  width: 3px;
  background-color: rgba(var(--text-color), 0.09);
  border-radius: 10px;
  height: 100%;
}
