<a class="post"
  ><a [routerLink]="'../' + post.username">
    <!-- <img [src]="post.user_photo_url" height="48px" width="48px" /> -->
    <img [src]="post.profile_pic" height="48px" width="48px" />
  </a>
  <div class="body">
    <app-post-header
      [user_id]="post.user_id"
      [username]="post.username"
      [date]="post.date"
      [expanded]="expanded"
      [name]="post.name"
    ></app-post-header>
    <app-post-body [expanded]="expanded" [text]="post.text"></app-post-body>
  </div>
</a>
