<ng-container *ngIf="authService.user$ | async as currentUser">
  <a class="post" [ngClass]="{ borderBottom: !showReplyHandle }">
    <div class="post_left">
      <a [routerLink]="'../' + post.username">
        <img
          [src]="post.profile_pic"
          [src]="
            domain +
            '/users/' +
            post.username +
            '/profile_pic/' +
            post.profile_pic
          "
          height="48px"
          width="48px"
          class="profile_pic"
        />
      </a>
      <div *ngIf="showReplyHandle" class="handleContainer">
        <div class="handle"></div>
      </div>
    </div>
    <div class="body">
      <app-post-header
        [user_id]="post.user_id"
        [username]="post.username"
        [date]="post.date"
        [expanded]="expanded"
        [name]="post.name"
      ></app-post-header>
      <app-post-body
        [showToolbar]="showToolbar"
        [currentUser]="currentUser"
        [post]="post"
        [showMedia]="showMedia"
      ></app-post-body>
      <!-- [isReply]="isReply" -->
    </div>
  </a>
  <ng-container *ngIf="showParent && (repliedPost$ | async) as repliedPost">
    <app-post [post]="repliedPost"></app-post>
  </ng-container>
</ng-container>
