@import "@angular/cdk/overlay-prebuilt.css";
/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */

:root,
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: rgba(var(--brand-primary));
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgba(var(--bkg-color));
  color: rgba(var(--text-color));
  overflow-x: hidden;

  --text-color: 34, 34, 34;
  --bkg-color: 255, 255, 255;
  /* --brand-primary: 61, 194, 196; */
  /* --brand-primary-dark: 27, 146, 148; */

  --brand-primary: 29, 155, 240;
  --brand-primary-dark: 0, 125, 209;

  --hover-color: 234, 234, 234;
  --box-shadow-color: 0, 0, 0;
  --panel-color: #e8e8e863;
}

body.dark-theme {
  --text-color: 238, 238, 238;
  /* --bkg-color: 37, 34, 34; */
  --bkg-color: 21, 31, 43;
  /* --hover-color: 45, 45, 52; */
  --hover-color: 45, 55, 67;
  --box-shadow-color: 190, 190, 190;
  /* --panel-color: #14141a; */
  --panel-color: #1e2732;
}

.circleButton {
  background-color: rgba(var(--text-color), 0.4);
  color: rgba(var(--bkg-color));
  cursor: pointer;
  border: none;
  border-radius: 1000px;
  padding: 0.6rem;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(14px);
}

.circleButton:hover {
  background-color: rgba(var(--text-color), 1);
}

.sub-nav {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  color: rgba(var(--text-color));
  background-color: rgba(var(--bkg-color), 0.8);
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.sub-nav h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toastPosition.toast-container {
  position: fixed;
  top: 4rem;
  right: 0.5rem;
}

.toastClass {
  background-color: rgba(var(--bkg-color), 1);
  box-shadow: 0px 0px 10px 1px rgba(var(--box-shadow-color), 0.2);
  padding: 1rem;
  animation: slide-in 0.2s ease-out forwards;
  margin-bottom: 0.5rem;
  max-width: 350px;
  font-size: 0.9rem;
}

.toastClass::before {
  content: "";
  width: 0.3rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.toast-success::before {
  background-color: rgba(var(--brand-primary));
}

.toast-error::before {
  background-color: red;
}

@keyframes slide-in {
  from {
    translate: 100% 0;
  }

  to {
    translate: 0;
  }
}

.something {
  background-color: rgba(var(--bkg-color));
  box-shadow: 0px 0px 10px 1px rgba(var(--text-color), 0.1) !important;
}
