html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: rgba(var(--brand-primary));
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgba(var(--bkg-color));
  color: rgba(var(--text-color));
  height: 100%;
  overflow-x: hidden;

  --text-color: 34, 34, 34;
  --bkg-color: 255, 255, 255;
  --brand-primary: 61, 194, 196;
  --brand-primary-dark: 27, 146, 148;
  --hover-color: 15, 20, 25, 0.1;
  --box-shadow-color: 0, 0, 0;
  --panel-color: #e8e8e863;
}

body.dark-theme {
  --text-color: 238, 238, 238;
  --bkg-color: 37, 34, 34;
  --hover-color: 45, 45, 52;
  --box-shadow-color: 190, 190, 190;
  --panel-color: #14141a;
}
