ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  color: rgba(var(--text-color), 0.7);
  border-top: 1px solid rgba(var(--text-color), 0.1);
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
  font-weight: bold;
}

button:hover {
  background-color: rgba(var(--hover-color));
}

span {
  font-size: 1.5rem;
}
