:host {
  position: absolute;
  z-index: 2;
}

menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--bkg-color));
  font-size: 1rem;
  position: fixed;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 1px rgba(var(--box-shadow-color), 0.2);
  padding: 0.6rem 0;
  margin: 0;
}

@media screen and (max-width: 460px) {
  /* :host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
  } */

  /* .menu {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  } */
}
