<div class="headerPicContainer">
  <img
    *ngIf="user.header_pic || newHeaderPicUrl; else header_pic_bkg"
    [src]="
      newHeaderPicUrl
        ? newHeaderPicUrl
        : domain + '/users/' + user.username + '/header_pic/' + user.header_pic
    "
    width="100%"
    class="header_pic"
  />
  <ng-template #header_pic_bkg>
    <div
      style="
        width: 100%;
        background: rgb(207, 217, 222);
        background: linear-gradient(
          162deg,
          rgba(207, 217, 222, 1) 0%,
          rgb(146, 164, 172) 100%
        );
        padding-bottom: 56.25%;
        resize: horizontal;
      "
    ></div>
  </ng-template>
  <div class="editPhotoControls" style="z-index: 1" *ngIf="isEditable">
    <div *ngIf="newHeaderPicUrl; else headerPicInput">
      <button
        class="material-symbols-outlined circleButton"
        (click)="newHeaderPicUrl = ''"
      >
        close
      </button>
      <button
        class="material-symbols-outlined circleButton"
        (click)="confirmUpdatedHeaderPic(user.username, newHeaderPicFile)"
      >
        done
      </button>
    </div>
    <ng-template #headerPicInput>
      <label for="headerPicInput" class="material-symbols-outlined circleButton"
        >add_a_photo
        <input
          style="display: none; appearance: none"
          id="headerPicInput"
          name="headerPicInput"
          type="file"
          accept="image/*"
          (change)="setNewHeaderPicUrl($event)"
      /></label>
    </ng-template>
  </div>
</div>

<div class="profileInfo">
  <div class="profilePicContainer">
    <input
      style="display: none; appearance: none"
      id="profilePicInput"
      name="profilePicInput"
      type="file"
      accept="image/*"
      (change)="setNewProfilePicUrl($event)"
    />
    <img
      *ngIf="user.profile_pic || newProfilePicUrl; else profile_pic_bkg"
      [src]="
        newProfilePicUrl
          ? newProfilePicUrl
          : domain +
            '/users/' +
            user.username +
            '/profile_pic/' +
            user.profile_pic
      "
      width="100%"
      class="profile_pic"
    />
    <div class="editPhotoControls" style="padding: 0" *ngIf="isEditable">
      <div *ngIf="newProfilePicUrl; else profilePicInput">
        <button
          class="material-symbols-outlined circleButton"
          (click)="newProfilePicUrl = ''"
        >
          close
        </button>
        <button
          class="material-symbols-outlined circleButton"
          (click)="
            editProfileService.updateProfilePic(
              user.username,
              newProfilePicFile
            )
          "
          (click)="confirmUpdatedProfilePic(user.username, newProfilePicFile)"
        >
          done
        </button>
      </div>
      <ng-template #profilePicInput>
        <label
          for="profilePicInput"
          class="material-symbols-outlined circleButton"
          >add_a_photo
          <input
            style="display: none; appearance: none"
            id="profilePicInput"
            name="profilePicInput"
            type="file"
            accept="image/*"
            (change)="setNewProfilePicUrl($event)"
        /></label>
      </ng-template>
    </div>
  </div>
  <button
    *ngIf="isEditable; else followToggle"
    class="editProfileBtn"
    (click)="openEditProfileModal(editProfileModal)"
  >
    Edit Profile
  </button>
  <ng-template #followToggle>
    <button class="editProfileBtn" (click)="test()">Follow</button>
  </ng-template>
  <ng-template #editProfileModal>
    <app-edit-profile-form
      (formData)="getFormData($event)"
      [user]="user"
    ></app-edit-profile-form>
  </ng-template>
  <ng-template #profile_pic_bkg>
    <div
      style="
        height: 100px;
        width: 100px;
        background: rgb(207, 217, 222);
        background: linear-gradient(
          162deg,
          rgba(207, 217, 222, 1) 0%,
          rgba(182, 198, 205, 1) 100%
        );
        padding-bottom: 15%;
        resize: horizontal;
      "
    ></div>
  </ng-template>
</div>
