.headerPicContainer {
  position: relative;
}

.editPhotoControls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}

.editPhotoControls > div {
  display: flex;
  gap: 0.5rem;
}

.header_pic {
  object-fit: cover;
  max-height: 300px;
}

.profileInfo {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  position: relative;
  margin-bottom: 70px;
}

.profilePicContainer {
  position: absolute;
  flex-grow: 0;
  width: 26%;
  min-width: 100px;
  left: 1rem;
  translate: 0 -22px;
}

.profile_pic {
  object-fit: cover;
  border-radius: 100%;
  aspect-ratio: 1;
  border: 3px solid rgba(var(--bkg-color));
  box-shadow: 0px 0px 10px 10px inset rgba(var(--bkg-color), 1);
  background-color: rgba(var(--bkg-color));
}

.editProfileBtn {
  font-weight: bold;
  background-color: transparent;
  border-radius: 1000px;
  border: 1px solid rgba(var(--text-color), 0.25);
  padding: 0.6rem 0.9rem;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(var(--text-color));
}
