<app-post
  [post]="postSubject | push"
  [showToolbar]="false"
  [showReplyHandle]="true"
  [showParent]="false"
  [showMedia]="false"
></app-post>
<app-new-post
  [helperText]="replyingTo"
  label="Reply"
  placeholder="Tweet your reply"
  [replying_to]="id$ | push"
  successToastMessage="Your reply was posted"
></app-new-post>
<ng-template #replyingTo>
  <span
    >Replying to
    <a
      [routerLink]="username$ | push"
      style="color: rgba(var(--brand-primary)); text-decoration: none"
      >&#64;{{ username$ | push }}</a
    ></span
  >
</ng-template>
